body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:910px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u757 {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:910px;
}
#u758 {
  position:absolute;
  left:2px;
  top:447px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u759 {
  position:absolute;
  left:264px;
  top:25px;
  width:91px;
  height:38px;
}
#u760 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u761 {
  position:absolute;
  left:264px;
  top:97px;
  width:91px;
  height:38px;
}
#u762 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
}
#u763 {
  position:absolute;
  left:264px;
  top:164px;
  width:91px;
  height:38px;
}
#u764 {
  position:absolute;
  left:2px;
  top:3px;
  width:87px;
  word-wrap:break-word;
}
#u765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u765 {
  position:absolute;
  left:420px;
  top:164px;
  width:100px;
  height:37px;
}
#u766 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u767 {
  position:absolute;
  left:264px;
  top:232px;
  width:91px;
  height:38px;
}
#u768 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u769 {
  position:absolute;
  left:264px;
  top:312px;
  width:91px;
  height:38px;
}
#u770 {
  position:absolute;
  left:2px;
  top:3px;
  width:87px;
  word-wrap:break-word;
}
#u771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u771 {
  position:absolute;
  left:264px;
  top:402px;
  width:91px;
  height:38px;
}
#u772 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u773 {
  position:absolute;
  left:264px;
  top:482px;
  width:91px;
  height:38px;
}
#u774 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u775 {
  position:absolute;
  left:264px;
  top:562px;
  width:91px;
  height:38px;
}
#u776 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u777 {
  position:absolute;
  left:264px;
  top:640px;
  width:91px;
  height:38px;
}
#u778 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u779 {
  position:absolute;
  left:310px;
  top:63px;
  width:0px;
  height:0px;
}
#u779_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u779_seg1 {
  position:absolute;
  left:-10px;
  top:21px;
  width:20px;
  height:20px;
}
#u780 {
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u781 {
  position:absolute;
  left:310px;
  top:135px;
  width:0px;
  height:0px;
}
#u781_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u781_seg1 {
  position:absolute;
  left:-10px;
  top:16px;
  width:20px;
  height:20px;
}
#u782 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u783 {
  position:absolute;
  left:355px;
  top:183px;
  width:0px;
  height:0px;
}
#u783_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u783_seg1 {
  position:absolute;
  left:52px;
  top:-10px;
  width:20px;
  height:20px;
}
#u784 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u785 {
  position:absolute;
  left:310px;
  top:202px;
  width:0px;
  height:0px;
}
#u785_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u785_seg1 {
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u786 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u787 {
  position:absolute;
  left:310px;
  top:270px;
  width:0px;
  height:0px;
}
#u787_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u787_seg1 {
  position:absolute;
  left:-10px;
  top:29px;
  width:20px;
  height:20px;
}
#u788 {
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u789 {
  position:absolute;
  left:310px;
  top:350px;
  width:0px;
  height:0px;
}
#u789_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u789_seg1 {
  position:absolute;
  left:-10px;
  top:39px;
  width:20px;
  height:20px;
}
#u790 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u791 {
  position:absolute;
  left:310px;
  top:440px;
  width:0px;
  height:0px;
}
#u791_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u791_seg1 {
  position:absolute;
  left:-10px;
  top:29px;
  width:20px;
  height:20px;
}
#u792 {
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u793 {
  position:absolute;
  left:310px;
  top:520px;
  width:0px;
  height:0px;
}
#u793_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u793_seg1 {
  position:absolute;
  left:-10px;
  top:29px;
  width:20px;
  height:20px;
}
#u794 {
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u795 {
  position:absolute;
  left:310px;
  top:600px;
  width:0px;
  height:0px;
}
#u795_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u795_seg1 {
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:20px;
}
#u796 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u797 {
  position:absolute;
  left:614px;
  top:25px;
  width:91px;
  height:38px;
}
#u798 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u799 {
  position:absolute;
  left:614px;
  top:97px;
  width:91px;
  height:38px;
}
#u800 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
}
#u801 {
  position:absolute;
  left:614px;
  top:164px;
  width:91px;
  height:38px;
}
#u802 {
  position:absolute;
  left:2px;
  top:3px;
  width:87px;
  word-wrap:break-word;
}
#u803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u803 {
  position:absolute;
  left:770px;
  top:164px;
  width:100px;
  height:37px;
}
#u804 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
}
#u805 {
  position:absolute;
  left:614px;
  top:232px;
  width:91px;
  height:38px;
}
#u806 {
  position:absolute;
  left:2px;
  top:3px;
  width:87px;
  word-wrap:break-word;
}
#u807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u807 {
  position:absolute;
  left:615px;
  top:312px;
  width:91px;
  height:38px;
}
#u808 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u809 {
  position:absolute;
  left:615px;
  top:392px;
  width:91px;
  height:38px;
}
#u810 {
  position:absolute;
  left:2px;
  top:3px;
  width:87px;
  word-wrap:break-word;
}
#u811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u811 {
  position:absolute;
  left:615px;
  top:480px;
  width:91px;
  height:38px;
}
#u812 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u813 {
  position:absolute;
  left:615px;
  top:562px;
  width:91px;
  height:38px;
}
#u814 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u815 {
  position:absolute;
  left:615px;
  top:640px;
  width:91px;
  height:38px;
}
#u816 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u817 {
  position:absolute;
  left:615px;
  top:712px;
  width:91px;
  height:38px;
}
#u818 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u819 {
  position:absolute;
  left:770px;
  top:232px;
  width:100px;
  height:37px;
}
#u820 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u821 {
  position:absolute;
  left:660px;
  top:63px;
  width:0px;
  height:0px;
}
#u821_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u821_seg1 {
  position:absolute;
  left:-10px;
  top:21px;
  width:20px;
  height:20px;
}
#u822 {
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823 {
  position:absolute;
  left:660px;
  top:135px;
  width:0px;
  height:0px;
}
#u823_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u823_seg1 {
  position:absolute;
  left:-10px;
  top:16px;
  width:20px;
  height:20px;
}
#u824 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u825 {
  position:absolute;
  left:705px;
  top:183px;
  width:0px;
  height:0px;
}
#u825_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u825_seg1 {
  position:absolute;
  left:52px;
  top:-10px;
  width:20px;
  height:20px;
}
#u826 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u827 {
  position:absolute;
  left:660px;
  top:202px;
  width:0px;
  height:0px;
}
#u827_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u827_seg1 {
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u828 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u829 {
  position:absolute;
  left:705px;
  top:251px;
  width:0px;
  height:0px;
}
#u829_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u829_seg1 {
  position:absolute;
  left:52px;
  top:-10px;
  width:20px;
  height:20px;
}
#u830 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u831 {
  position:absolute;
  left:660px;
  top:270px;
  width:0px;
  height:0px;
}
#u831_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u831_seg1 {
  position:absolute;
  left:-4px;
  top:26px;
  width:9px;
  height:8px;
}
#u831_seg2 {
  position:absolute;
  left:-3px;
  top:26px;
  width:8px;
  height:16px;
}
#u831_seg3 {
  position:absolute;
  left:-9px;
  top:29px;
  width:20px;
  height:20px;
}
#u832 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u833 {
  position:absolute;
  left:661px;
  top:350px;
  width:0px;
  height:0px;
}
#u833_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u833_seg1 {
  position:absolute;
  left:-10px;
  top:29px;
  width:20px;
  height:20px;
}
#u834 {
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u835 {
  position:absolute;
  left:661px;
  top:430px;
  width:0px;
  height:0px;
}
#u835_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u835_seg1 {
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u836 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u837 {
  position:absolute;
  left:661px;
  top:518px;
  width:0px;
  height:0px;
}
#u837_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u837_seg1 {
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:20px;
}
#u838 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839 {
  position:absolute;
  left:661px;
  top:600px;
  width:0px;
  height:0px;
}
#u839_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u839_seg1 {
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:20px;
}
#u840 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841 {
  position:absolute;
  left:661px;
  top:678px;
  width:0px;
  height:0px;
}
#u841_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u841_seg1 {
  position:absolute;
  left:-10px;
  top:21px;
  width:20px;
  height:20px;
}
#u842 {
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
