body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:910px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u681 {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:910px;
}
#u682 {
  position:absolute;
  left:2px;
  top:447px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u683 {
  position:absolute;
  left:264px;
  top:25px;
  width:91px;
  height:38px;
}
#u684 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u685 {
  position:absolute;
  left:264px;
  top:97px;
  width:91px;
  height:38px;
}
#u686 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
}
#u687 {
  position:absolute;
  left:264px;
  top:164px;
  width:91px;
  height:38px;
}
#u688 {
  position:absolute;
  left:2px;
  top:3px;
  width:87px;
  word-wrap:break-word;
}
#u689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u689 {
  position:absolute;
  left:420px;
  top:164px;
  width:100px;
  height:37px;
}
#u690 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
}
#u691 {
  position:absolute;
  left:264px;
  top:232px;
  width:91px;
  height:38px;
}
#u692 {
  position:absolute;
  left:2px;
  top:3px;
  width:87px;
  word-wrap:break-word;
}
#u693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u693 {
  position:absolute;
  left:264px;
  top:302px;
  width:91px;
  height:38px;
}
#u694 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
}
#u695 {
  position:absolute;
  left:264px;
  top:380px;
  width:91px;
  height:38px;
}
#u696 {
  position:absolute;
  left:2px;
  top:3px;
  width:87px;
  word-wrap:break-word;
}
#u697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u697 {
  position:absolute;
  left:264px;
  top:662px;
  width:91px;
  height:38px;
}
#u698 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u699 {
  position:absolute;
  left:264px;
  top:744px;
  width:91px;
  height:38px;
}
#u700 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u701 {
  position:absolute;
  left:420px;
  top:232px;
  width:100px;
  height:37px;
}
#u702 {
  position:absolute;
  left:2px;
  top:-6px;
  width:96px;
  word-wrap:break-word;
}
#u703 {
  position:absolute;
  left:310px;
  top:63px;
  width:0px;
  height:0px;
}
#u703_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u703_seg1 {
  position:absolute;
  left:-10px;
  top:21px;
  width:20px;
  height:20px;
}
#u704 {
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705 {
  position:absolute;
  left:310px;
  top:135px;
  width:0px;
  height:0px;
}
#u705_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u705_seg1 {
  position:absolute;
  left:-10px;
  top:16px;
  width:20px;
  height:20px;
}
#u706 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u707 {
  position:absolute;
  left:355px;
  top:183px;
  width:0px;
  height:0px;
}
#u707_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u707_seg1 {
  position:absolute;
  left:52px;
  top:-10px;
  width:20px;
  height:20px;
}
#u708 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u709 {
  position:absolute;
  left:310px;
  top:202px;
  width:0px;
  height:0px;
}
#u709_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u709_seg1 {
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u710 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u711 {
  position:absolute;
  left:310px;
  top:270px;
  width:0px;
  height:0px;
}
#u711_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u711_seg1 {
  position:absolute;
  left:-10px;
  top:19px;
  width:20px;
  height:20px;
}
#u712 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u713 {
  position:absolute;
  left:310px;
  top:340px;
  width:0px;
  height:0px;
}
#u713_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u713_seg1 {
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:20px;
}
#u714 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715 {
  position:absolute;
  left:355px;
  top:251px;
  width:0px;
  height:0px;
}
#u715_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u715_seg1 {
  position:absolute;
  left:52px;
  top:-10px;
  width:20px;
  height:20px;
}
#u716 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u717 {
  position:absolute;
  left:310px;
  top:700px;
  width:0px;
  height:0px;
}
#u717_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u717_seg1 {
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:20px;
}
#u718 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u719 {
  position:absolute;
  left:420px;
  top:380px;
  width:100px;
  height:37px;
}
#u720 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u721 {
  position:absolute;
  left:355px;
  top:399px;
  width:0px;
  height:0px;
}
#u721_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u721_seg1 {
  position:absolute;
  left:52px;
  top:-10px;
  width:20px;
  height:20px;
}
#u722 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
}
#u723 {
  position:absolute;
  left:264px;
  top:449px;
  width:91px;
  height:38px;
}
#u724 {
  position:absolute;
  left:2px;
  top:3px;
  width:87px;
  word-wrap:break-word;
}
#u725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u725 {
  position:absolute;
  left:264px;
  top:518px;
  width:91px;
  height:38px;
}
#u726 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
}
#u727 {
  position:absolute;
  left:425px;
  top:449px;
  width:91px;
  height:38px;
}
#u728 {
  position:absolute;
  left:2px;
  top:3px;
  width:87px;
  word-wrap:break-word;
}
#u729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u729 {
  position:absolute;
  left:575px;
  top:449px;
  width:91px;
  height:38px;
}
#u730 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u731 {
  position:absolute;
  left:575px;
  top:518px;
  width:91px;
  height:38px;
}
#u732 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
}
#u733 {
  position:absolute;
  left:264px;
  top:594px;
  width:91px;
  height:38px;
}
#u734 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u735 {
  position:absolute;
  left:310px;
  top:418px;
  width:0px;
  height:0px;
}
#u735_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u735_seg1 {
  position:absolute;
  left:-10px;
  top:18px;
  width:20px;
  height:20px;
}
#u736 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u737 {
  position:absolute;
  left:310px;
  top:487px;
  width:0px;
  height:0px;
}
#u737_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u737_seg1 {
  position:absolute;
  left:-10px;
  top:18px;
  width:20px;
  height:20px;
}
#u738 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u739 {
  position:absolute;
  left:355px;
  top:468px;
  width:0px;
  height:0px;
}
#u739_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u739_seg1 {
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u740 {
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u741 {
  position:absolute;
  left:516px;
  top:468px;
  width:0px;
  height:0px;
}
#u741_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:63px;
  height:8px;
}
#u741_seg1 {
  position:absolute;
  left:46px;
  top:-10px;
  width:20px;
  height:20px;
}
#u742 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u743 {
  position:absolute;
  left:621px;
  top:487px;
  width:0px;
  height:0px;
}
#u743_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u743_seg1 {
  position:absolute;
  left:-10px;
  top:18px;
  width:20px;
  height:20px;
}
#u744 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745 {
  position:absolute;
  left:471px;
  top:487px;
  width:0px;
  height:0px;
}
#u745_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u745_seg1 {
  position:absolute;
  left:-116px;
  top:46px;
  width:120px;
  height:8px;
}
#u745_seg2 {
  position:absolute;
  left:-123px;
  top:40px;
  width:20px;
  height:20px;
}
#u746 {
  position:absolute;
  left:-83px;
  top:42px;
  width:100px;
  word-wrap:break-word;
}
#u747 {
  position:absolute;
  left:310px;
  top:556px;
  width:0px;
  height:0px;
}
#u747_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u747_seg1 {
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u748 {
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u749 {
  position:absolute;
  left:264px;
  top:613px;
  width:0px;
  height:0px;
}
#u749_seg0 {
  position:absolute;
  left:-53px;
  top:-4px;
  width:53px;
  height:8px;
}
#u749_seg1 {
  position:absolute;
  left:-53px;
  top:-80px;
  width:8px;
  height:84px;
}
#u749_seg2 {
  position:absolute;
  left:-53px;
  top:-80px;
  width:53px;
  height:8px;
}
#u749_seg3 {
  position:absolute;
  left:-13px;
  top:-86px;
  width:20px;
  height:20px;
}
#u750 {
  position:absolute;
  left:-99px;
  top:-46px;
  width:100px;
  word-wrap:break-word;
}
#u751 {
  position:absolute;
  left:310px;
  top:632px;
  width:0px;
  height:0px;
}
#u751_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u751_seg1 {
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u752 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
